@import "vars";
@import "vars";
@import "global";
@import "libs";
@import "fonts";

@import "media";
/* start header */
.header {
	&__top {
		height: 92px;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		height: 90px;
		align-items: center;
	}

	&__logo {
	}

	&__text {
		margin-left: auto;
		margin-right: 25px;
		span {
			color: $red;
		}
	}

	&__phone {
	}

	&__box {
		padding-left: 60px;
		position: relative;
	}

	&__basket {
		width: 34px;
		height: 34px;
		background-color: #f5f5f5;
		border-radius: 50%;
		position: absolute;
		top: 15;
		left: 0;
		img {
			position: absolute;
			top: 11px;
			left: 9px;
		}
	}

	&__btn {
		padding: 9px;
		width: 72px;
		border-radius: 4px;
		text-align: center;
		color: #ffffff;
		font-size: 12px;
	}
	&__btn-login {
		background-color: $green;
		margin-right: 7px;
	}
	&__btn-register {
		background-color: $red;
	}

	&__menu {
		line-height: 4em;
		background-color: $bg;
	}
}
.menu {
	height: 60px;
	display: flex;
	align-items: center;
	&__list {
		li {
			display: inline-block;
			& + li {
				margin-left: 30px;
			}
		}
		a {
			color: #ffffff;
			font-size: 14px;
		}
	}
}
/*end header */

/* start search */
.search {
	min-height: 533px;
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__inner {
		text-align: center;
		padding: 135px 0 100px;
	}

	&__inner-title {
		font-size: 48px;
		margin-bottom: 32px;
	}

	&__inner-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 50px;
	}

	&__inner-form {
		max-width: 670px;
		position: relative;
		margin: 0 auto;
		input {
			display: block;
			height: 56px;
			width: 100%;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			border: none;
			font-size: 14px;
			font-weight: 500;
			padding-left: 25px;
			padding-right: 60px;
			outline: none;
			&::placeholder {
				color: #90a4ae;
			}
		}
		button {
			position: absolute;
			top: 16px;
			right: 20px;
			border: none;
			background-color: transparent;
		}
	}
}
/* end search */

/* start products */

/* start release*/
.products {
	padding: 110px 0px;
}

.release-products {
	background-color: $light-green;
}

.products__inner-btn {
	text-align: center;
	margin-bottom: 60px;
	button {
		padding: 12px 21px;
		border: none;
		background-color: #fff;
		color: $bg;
		cursor: pointer;
		& + button {
			margin-left: 6px;
		}
	}
}

.btn__bottom {
	box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
}

.products__inner-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 76px;
}

.products__item {
	margin-bottom: 30px;
	max-width: 444px;
	width: 100%;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	&-img {
		min-height: 250px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&-content {
		padding: 10px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 90px;
		font-weight: 500;
		color: &bg;
		border-bottom: 1px solid #e7ecf2;
	}
	&-name {
		max-width: 310px;
	}
	&-title {
		font-size: 18px;
	}
	&-category {
		min-height: 70px;
		font-size: 14px;
		color: $green;
		display: block;
	}
	&-price {
		font-size: 20px;
		font-weight: 700;
	}

	&-info {
		padding: 10px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-autor {
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			font-size: 14px;
			font-weight: 500;
		}

		.avatar {
			height: 30px;
			width: 30px;
			border-radius: 50%;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin-right: 14px;
		}
	}
}
/* end release*/

/* start trending */
.trending-products {
	padding: 0 0 110px;
}

.products__title-trending {
	padding-top: 121px;
	margin-bottom: 61px;
}

.checkpoint {
	width: 100px;
	height: 32px;
	margin: 0 auto;
	padding: 8px 4px;
	text-align: center;
	&__btn {
		height: 16px;
		width: 16px;
		border-radius: 50%;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		background-color: $dark-grey;
		&-active {
			background-color: $green;
		}
	}
}
/* end trending */

/* end products */

/* start choose */
.choose {
	min-height: 619px;
	background-color: $bg;
	padding: 121px 0px 112px;
	&__title {
		color: #ffffff;
		margin-bottom: 82px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__box {
		max-width: 370px;
		padding: 30px 20px;

		&-img {
			height: 90px;
			width: 90px;
			display: block;
			margin: 0 auto 30px;
			border: none;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		&-title {
			color: #ffffff;
			margin-bottom: 23px;
		}
		&_active {
			color: $green;
		}

		&-text {
			font-size: 15px;
			color: #b0bec5;
			text-align: center;
			line-height: 1.5;
		}
	}
}

/* end choose */

/* start author */
.author {
	height: 750px;
	width: 100%;
	background-size: cover;

	padding-top: 240px;

	&__inner {
		padding: 72px 64px 80px 62px;
		height: 222px;
		width: 655px;
		opacity: 0.8;
		margin: 0 auto;
		background-color: $green;
		&-form {
			height: 63px;
			width: 570px;
		}
		&-title {
			display: inline-block;
			float: left;
			max-width: 300px;
			font-size: 30px;
			line-height: 1.1;
		}

		&-link {
			display: inline-block;
			height: 64px;
			width: 225px;
			background-color: #ffffff;
			padding: 22px 10px;
			text-align: center;
		}
	}
}
/* end author */

/* start tutorials */
.tutorials {
	padding-top: 73px;
	padding-bottom: 156px;
	&__title {
		margin-bottom: 60px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__block {
	}

	&__block-img {
		width: 370px;
		height: 270px;
		margin-bottom: 3px;
	}

	&__block-name {
		width: 370px;
		height: 88px;
		background-color: #f8f8f8;
		text-align: center;
		padding-top: 34px;
		padding-right: 15px;
	}
}

/* end tutorials */

/* start footer */
/* end footer */
